[submodule "bash"]
  branch = master
  path = bash
  url = https://github.com/jbnicolai/bash.git
[submodule "curl"]
  branch = master
  path = curl
  url = https://github.com/jbnicolai/curl.git
[submodule "git"]
  branch = master
  path = git
  url = https://github.com/jbnicolai/git.git
[submodule "irssi"]
  branch = master
  path = irssi
  url = https://github.com/jbnicolai/irssi.git
[submodule "iterm"]
  branch = master
  path = iterm
  url = https://github.com/jbnicolai/iterm.git
[submodule "pentadactyl"]
  branch = master
  path = pentadactyl
  url = https://github.com/jbnicolai/pentadactyl.git
[submodule "readline"]
  branch = master
  path = readline
  url = https://github.com/jbnicolai/readline.git
[submodule "screen"]
  branch = master
  path = screen
  url = https://github.com/jbnicolai/screen.git
[submodule "ssh"]
  branch = master
  path = ssh
  url = https://github.com/jbnicolai/ssh.git
[submodule "tmux"]
  branch = master
  path = tmux
  url = https://github.com/jbnicolai/tmux.git
[submodule "vim"]
  branch = master
  path = vim
  url = https://github.com/jbnicolai/vim.git
[submodule "wget"]
  branch = master
  path = wget
  url = https://github.com/jbnicolai/wget.git
