[submodule "bash"]
	path = bash
	url = git@github.com:jbnicolai/bash.git
[submodule "git"]
	path = git
	url = git@github.com:jbnicolai/git.git
[submodule "irssi"]
	path = irssi
	url = git@github.com:jbnicolai/irssi.git
[submodule "pentadactyl"]
	path = pentadactyl
	url = git@github.com:jbnicolai/pentadactyl.git
[submodule "screen"]
	path = screen
	url = git@github.com:jbnicolai/screen.git
