[submodule "bash"]
	path = bash
	url = git@github.com:jbnicolai/bash.git
[submodule "git"]
	path = git
	url = git@github.com:jbnicolai/git.git
[submodule "irssi"]
	path = irssi
	url = git@github.com:jbnicolai/irssi.git
[submodule "pentadactyl"]
	path = pentadactyl
	url = git@github.com:jbnicolai/pentadactyl.git
[submodule "screen"]
	path = screen
	url = git@github.com:jbnicolai/screen.git
[submodule "ssh"]
	path = ssh
	url = git@github.com:jbnicolai/ssh.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:jbnicolai/tmux.git
[submodule "vim"]
	path = vim
	url = git@github.com:jbnicolai/vim.git
[submodule "wget"]
	path = wget
	url = git@github.com:jbnicolai/wget.git
[submodule "curl"]
	path = curl
	url = git@github.com:jbnicolai/curl.git
[submodule "readline"]
	path = readline
	url = git@github.com:jbnicolai/readline.git
[submodule "iterm"]
	path = iterm
	url = git@github.com:jbnicolai/iterm.git
